{% if products %}
    <ul>
    {% for product in products %}
        <li>
            <a href="/product/{{ product.id }}">{{ product.name }}</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum produto em estoque! =( </p>
{% endif %}
